<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <a class="navbar-brand" href="javascript:void(0)">
        <span style="color:white" class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        Sheheryar App
        </a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
    
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-md-8" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid well" style="background-color:lightcyan">
  <!--<div class="container-fluid">
    <span> <label>Say Something</label>
  </span>
   <textarea type="text" class="form-group" [(ngModel)]="newStatus">
     
   </textarea>
   
  </div>-->
  <div class="form-group">
      <label for="textArea" class="col-md-2 control-label">What in Your Mind? </label>

      <div class="col-md-10">
        <textarea class="form-control" [(ngModel)]="newStatus" rows="3" id="textArea"></textarea>
        <span class="help-block">share your views with people</span>
      </div>
    </div>

  <button type="submit" class="btn btn-Primary btn-raised" (click)="add()" >Submit</button>
</div>
<div class="container-fluid well" style="background-color:lightblue">

<ul>
 <div class="list-group-separator"></div>
  <li class="text well" *ngFor="let item of StatusList | async">
    {{item.$value}}
  </li>
 
</ul>
